.home-box {
    border-radius: 25px;
    padding: 10px;
    width:75%;
    margin-top: 50px;
    vertical-align: middle;
    margin-bottom: 100px;
}
.big-head {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size:190px;
    text-shadow: 5px 5px 5px var(--theme-color);
}
.small-head {
    color: var(--font-color);
}
.duk-home img {
    height: 50px;
    border-radius:50%;
    border:1px solid black;
}