.home-box {
    border-radius: 25px;
    padding: 10px;
    width:75%;
    margin-top: 50px;
    vertical-align: middle;
    margin-bottom: 25px;
}
.big-head {
    margin-bottom: -10px;
    font-size:155px;
}
.small-head {
    color:white;
    font-size: 22px;
}
