.topnav {
  overflow: hidden;
  background-color: var(--navbar-background);
}
.topnav a {
  float: left;
  color: var(--font-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: var(--theme-color);
  color: white;
}
.topnav a.active {
  background-color: var(--theme-color);
  color: white;
}
.topnav-right {
  float: right;
}
.subnav {
  overflow: visible;
  background-color: var(--theme-color);
  top: 0;
  z-index: 9;
  position: sticky;
  position: -webkit-sticky;
}
.subnav a{
  float: left;
  cursor: pointer;
  padding: 4px 22px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.subnav a:hover {
  background-color: white;
  color: black;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--theme-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px var(--theme-color);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--primary-background);
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-colors-content {
  display: none;
  position: absolute;
  background-color: var(--theme-color);
  filter: grayscale(75%);
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px var(--theme-color);
  z-index: 1;
}
.dropdown-colors-content a {
  color: white;
  font-size: 14px;
}
.dropbtn-inner {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  margin: 0; /* Important for vertical align on mobile phones */
}
