<script src="/gui/js/shared.js"></script>
<html>
    <head>
        <title>Home | Splash</title>
        <link rel="shortcut icon" type="image/png" href="/gui/img/favicon.png"/>
        <link rel="stylesheet" href="/gui/css/shared.css" type="text/css">
        <link rel="stylesheet" href="/gui/css/basic.css" type="text/css">
        <link rel="stylesheet" href="/gui/css/navbar.css" type="text/css">
        <link rel="stylesheet" href="/gui/css/modal.css">
    </head>
    <body>
        <div class="topnav">
          <a class="active" href="/">Home</a>
          {% for plugin in plugins %}
              {% if plugin.enabled %}
                  {% if plugin.address %}
                      <a href="{{ plugin.address }}">{{ plugin.name }}</a>
                  {% endif %}
              {% endif %}
          {% endfor %}
          <div class="topnav-right">
            <div class="dropdown">
                <button class="dropbtn">Settings
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a onclick="reloadData()">Reload data</a>
                  <a onclick="resetData()">Factory reset</a>
                  <div class="dropdown-colors">
                    <button class="dropbtn-inner"><span onclick="showColors()">&#8595;</span> Change color
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div id="dropdown-colors-content" class="dropdown-colors-content">
                      <a onclick="switchTheme('orange')">Orange</a>
                      <a onclick="switchTheme('blue')">Blue</a>
                      <a onclick="switchTheme('rebeccapurple')">Purple</a>
                      <a onclick="switchTheme('green')">Green</a>
                      <a onclick="switchTheme('red')">Red</a>
                    </div>
                  </div>
                  <div class="dropdown-plugins">
                      <button class="dropbtn-inner"><span onclick="showPlugins()">&#8595;</span> Plugins
                        <i class="fa fa-caret-down"></i>
                    </button>
                      <div id="dropdown-plugins-content" class="dropdown-plugins-content">
                          {% for plugin in plugins %}
                              {% if plugin.enabled %}
                                  <a onclick="">{{ plugin.name }} <i style="font-size:11px">(enabled)</i></a>
                              {% else %}
                                    <a onclick="">{{ plugin.name }}</a>
                              {% endif %}
                          {% endfor %}
                      </div>
                  </div>
                </div>
            </div>
            <a href="https://github.com/mitre/caldera/wiki" target="_blank">Docs</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div id="notice" class="notice" style="display:none">Chrome is the only supported browser. Please change to that or some website components may not work.</div>

        <center>
            <div class="home-box">
                <h1 id="big-head" class="big-head">CALDERA</h1>
                <h3 id="sub-head" class="typewriter small-head" style="margin-bottom: 20px;margin-top:0;">Cyber Adversary Language and Decision Engine for Red Team Automation</h3>
                <div class="red-bar"></div>
                <p style="font-size: 15px;width:75%;">
                    CALDERA is a framework designed to quickly run breach-and-simulation exercises. It was originally
                    developed as a MITRE research & development program, aimed at automating the decision-making of
                    a cyber adversary. Nowadays, it can also be used in realistic red-and-blue exercises.
                    CALDERA is built on top of the ATT&CK framework.
                </p>
            </div>
            <br>
            <div class="row" style="background-color: inherit;margin-top:-50px;width:80%">
                <div id="one" class="column duk-home" style="flex:33%;border-right: 1px solid white;">
                    <center><div class="number"><h2>1</h2></div></center>
                    <h3>Deploy agents</h3>
                    <p>
                        Deploy Sandcat (54ndc47) agents on each compromised computer.
                    </p>
                </div>
                <div id="two" class="column duk-home" style="flex:33%;border-right: 1px solid white;">
                    <center><div class="number"><h2>2</h2></div></center>
                    <h3>Build adversaries</h3>
                    <p>
                        Combine ATT&CK TTPs to build custom adversaries, representing realistic threats.
                    </p>
                </div>
                <div id="three" class="column duk-home" style="flex:33%;border-right: 1px solid white;">
                    <center><div class="number"><h2>3</h2></div></center>
                    <h3>Run operations</h3>
                    <p>
                        Point your adversary against the computers running agents to start an operation.
                    </p>
                </div>
            </div>
            
        </center>
    </body>
    <script src="/gui/jquery/jquery.js"></script>
    <script src="/gui/js/navbar.js"></script>
    <script>
        // typewriter
        let text = $('.typewriter').text();
        let length = text.length;
        let timeOut;
        let character = 0;
        (function typeWriter() {
            timeOut = setTimeout(function() {
                character++;
                let type = text.substring(0, character);
                $('.typewriter').text(type);
                typeWriter();
                if (character == length) {
                    clearTimeout(timeOut);
                }
            }, 100);
        }());
    </script>
</html>
