<script src="/gui/js/shared.js"></script>
<html>
    <head>
        <title>Home | Splash</title>
        <link rel="shortcut icon" type="image/png" href="/gui/img/favicon.png"/>
        <link rel="stylesheet" href="/gui/css/shared.css" type="text/css">
        <link rel="stylesheet" href="/gui/css/basic.css" type="text/css">
        <link rel="stylesheet" href="/gui/css/navbar.css" type="text/css">
        <link rel="stylesheet" href="/gui/css/modal.css" type="text/css">
    </head>
    <body>
        <div class="topnav">
          <a class="active" href="/">Home</a>
          {% for plugin in plugins %}
              {% if plugin.address %}
                <a href="{{ plugin.address }}">{{ plugin.name }}</a>
              {% endif %}
          {% endfor %}
          <div class="topnav-right">
            <a href="https://github.com/mitre/caldera/wiki" target="_blank">Docs</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div id="notice" class="notice" style="display:none">Chrome is the only supported browser. Please change to that or some website components may not work.</div>

        <center>
            <div class="home-box">
                <h1 class="big-head">CALDERA</h1>
                <h3 id="first" class="typewriter small-head" style="margin-bottom: 20px;margin-top: -20px">Cyber Adversary Language and Decision Engine for Red Team Automation</h3>
                <div class="column" style="flex: 25%;"></div>
                <br>
                <div class="toggle">
                    <label class="switch"><input type="checkbox" id="checkbox" onchange="switchTheme()">
                      <div class="slider round"><span class="on">LIGHT MODE</span><span class="off">DARK MODE</span></div>
                    </label>
                </div>
            </div>
        </center>
    </body>
    <script src="/gui/jquery/jquery.js"></script>
    <script>
        // typewriter
        let text = $('.typewriter').text();
        let length = text.length;
        let timeOut;
        let character = 0;
        (function typeWriter() {
            timeOut = setTimeout(function() {
                character++;
                let type = text.substring(0, character);
                $('.typewriter').text(type);
                typeWriter();
                if (character == length) {
                    clearTimeout(timeOut);
                }
            }, 75);
        }());
        $('.pawprint').fadeOut(8000);

        // change theme
        function switchTheme() {
            if(!$('#checkbox').prop('checked')) {
                document.documentElement.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
            }
        }
        // user prefs
        const toggleSwitch = document.querySelector('.switch input[type="checkbox"]');
        if (currentTheme === 'light') {
            toggleSwitch.checked = true;
        } else {
            toggleSwitch.checked = false;
        }
    </script>
</html>
